/* style for page */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 32pt;
}

.box {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
}

/* style for header */
header {
  width: 100%;
  background-color: #000000;
  display: flex;
}

@media screen  and ( orientation: portrait ) {
  header {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
  }
}

.box_prev-site {
  width: 50%;
  display: flex;
  align-items: center;
}

.prev-site {
  width: 100%;
}

.box_name-site {
  width: 50%;
  display: flex;
  align-items: center;
}

.iconMenu {
  display: none;
}

@media screen  and ( orientation: portrait ) {
  .iconMenu {
    display: flex;
    width:40%;
  }

  .neVidno {
    display: none;
  }
  .vidno {
    display: flex;
  }
}

.name-site {
  width: 100%;
}

/* style for navigation */
.box_navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1%;
  background-color: #000000;
}

.nav_ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2vh 2vw;
}

.nav_li {
  margin: 0 3%;
  white-space:nowrap;
  flex-wrap: nowrap;
}

.nav_a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  font-weight: 900;
  color: #ffffff;
}

/* style for emblems */
.box_emblems {
  width: 100%;
  margin-top: 1%;
  background-color: #000000;
  display: flex;
}

.emblema {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 1%;
}

@media screen  and ( orientation: portrait ) {
  main {
    position: relative;
  }
}

.site_bar_box {
  width: 15%;
}

@media screen  and ( orientation: portrait ) {
  .site_bar_box {
    display: none;
    width: 50%;
    border: solid #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
  }
}

.privet {
  display:flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  align-items: center;
}


/* style for site-bar */

.menu_all {
  display: flex;
  width: 15%;
  align-items: stretch;
  padding: 0 3% 0 0;
}

.menu_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  align-items: stretch;
}

.punkt1 {
  padding-left: 5%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2em;
}

.punkt2 {
  padding-left: 10%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1.5em;
}

.border_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border {
  width: 90%;
  height: 0.1vh;
  background-color: #545454;
}

  /* style for content */
  .content {
    width: 90%;
    margin-top: 1%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .margin_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 85%;
    margin: 0.1vh 0;
  }

  .tovar {
    width: 93%;
    background-color: #000000;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  @media screen  and ( orientation: portrait ) {
    .tovar {
      width: 100%;
      background-color: #000000;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  /*.post {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 97%;
    border:  solid #ffffff;
    padding: 1%;
    margin-bottom: 3%;
    font-size: 1em;
  } */

  .name_post{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .body_post {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img_post {
    width: 30%;
  }

  .text_post {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    font-size: 1em;
  }

.video_box {
  display: flex;
  width: 100%;
  margin: 5vh 0;
  justify-content: center;
  align-items: center;
}

  .video {
    width: 50vw;
  }

  footer {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 1%;
    padding: 5vw 0;
  }

  @media screen  and ( orientation: portrait ) {
    footer {
      width: 100%;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      margin-top: 1%;
    }


  }
