@media screen  and ( orientation: portrait ) {

  .box {
    max-width: 960px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  /* style for header */
  .header {
    width: 100%;
    background-color: #000000;
    padding: 1%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column-reverse;
  }

  .box_prev-site {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .prev-site {
    width: 100%;
  }

  .box_name-site {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .name-site {
    width: 100%;
  }

  /* style for navigation */
  .box_navigation {
    display: none;
  }

/* style for emblems */
  .box_emblems {
    display: none;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

/* style for site-bar */
  .menu {
    display: none;
  }

  .menu_media {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
/* Отображение и удаление окна Сайт-бара */
  .siteBarFonViev {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .siteBarFonNoViev {
    display: none;
  }
/* Отображение и удаление окна Сайт-бара */
/* Отображение кнопки сайт-бара */
  .buttom-menu {
    display: flex;
    font-size: 4em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 0.5% 8%;
    border: 0.3em solid #ffffff;
    background-color: #000000;
  }

  .buttom-menu-action {
    display: none;
    font-size: 4em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 1% 10%;
    border: 0.3em solid #ffffff;
    background-color: #545454;
  }
/* Отображение кнопки сайт-бара */

  .site_bar_media-punkt1 {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 70%;
    display: flex;
    z-index: 10;
  }












/* style for content */
  .content {
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;


}
