@media screen  and ( orientation: portrait ) {

  .box {
    max-width: 960px;
    display: flex;
    flex-direction: column;
  }

  /* style for header */
  .header {
    width: 100%;
    background-color: #000000;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
  }

  .box_prev-site {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .prev-site {
    width: 100%;
  }

  .box_name-site {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .name-site {
    width: 100%;
  }

  /* style for navigation */
  .box_navigation {
    display: none;
  }

/* style for emblems */
  .box_emblems {
    display: none;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

/* style for site-bar */
  .menu {
    width: 100%;
    background-color: #000000;
    padding: 1%;
    display: flex;
  }

  .menu_ul {
    display: none;
  }

  .buttom-menu {
    width: 30%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: solid #ffffff;
    color: #ffffff;
    font-size: 2em;
  }


}
