/* style for page */
body {
  margin: 0;
  padding: 1% 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.box {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
}

/* style for header */
.header {
  width: 100%;
  background-color: #000000;
  display: flex;
}

.box_prev-site {
  width: 50%;
  display: flex;
  align-items: center;
}

.prev-site {
  width: 100%;
}

.box_name-site {
  width: 50%;
  display: flex;
  align-items: center;
}

.name-site {
  width: 100%;
}

/* style for navigation */
.box_navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1%;
  background-color: #000000;
}

.nav_ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2vh 2vw;
}

.nav_li {
  margin: 0 3%;
  white-space:nowrap;
  flex-wrap: nowrap;
}

.nav_a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* style for emblems */
.box_emblems {
  width: 100%;
  margin-top: 1%;
  background-color: #000000;
  display: flex;
}

.emblema {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* style for site-bar */

/* Стиль для фона и выравнивания самого сайтбара и содержимого */
  .menu_media {
    display: none;
  }

  .siteBarFonNoViev {
    display: none;
  }
  .menu {
    width: 20%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-right: 1%;
    margin-top: 1%;
    padding: 1%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
  }
/* Кнопка для медиаадаптации */
  .buttom-menu {
    display: none;
  }
/* Стиль для выпадающего меню */
  .site_bar-punkt1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 2%;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
  }
/* Стиль для пункта первого уровня */
  .punkt1 {
    width: 100%;
    font-size: 2em;
    padding: 2%;
  }
/* Стиль для ссылок убирающий стандартное выделение */
  a {
    text-decoration: none;
    color: #ffffff;
  }
/* Стиль для выделения на наведенный пункт */
  a :hover {
    background-color: #545454;
  }

  .site_bar-punkt1-menu {
    display: none;
    padding: 0 0 0 4%;
    width: 96%;
  }

  .site_bar-menu-punkt1-1 {
    width: 100%;
    border-bottom: 5px solid #545454;
    font-size: 1.5em;
    padding: 2%;
  }

  /* style for content */
  .content {
    width: 80%;
    margin-top: 1%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .margin_content {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 5vh 0;
  }

  .post {
    display: flex;
    flex-direction: column;
    align-items: left;
    border:  solid #ffffff;
    padding: 1%;
    margin-bottom: 3%;
  }

  .name_post{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .body_post {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img_post {
    width: 30%;
  }

  .text_post {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
  }
